@media (max-width: 950px) {
    
   
    .navigation {
        display: none;
    }
    .burger-menu {
        display: block;
    }
   
    .flex-header.mobActive {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url('../images/burger-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 30px;
        transition: right 0.4s;
        flex-direction: column;
        align-items: normal;
        justify-content: flex-start;
        gap: 40px;
        max-width: 100%;
    }
    .nav-ul {
        flex-direction: column;
        gap: 40px; 
        width: 100%;
        height: 100%; 
        align-items: center;
    }
    .navigation.activeNav {
        display: block;
        
    }
    .li {
        color: #ffd700;
        
    }

   

}

@media (max-width: 570px) {
   
    .search {
        display: none;
    }
    .promo-p {
        height: 0px;
        width: 0px;
        overflow: hidden;
    }
}

@media (max-width: 470px) {
    .promo-h2 {
        font-size: 30px;
    }
}