/* body styles */

body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

.background {
    background-image: url(..//images/IMG_1542.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}


.background::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.2); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1; 
    background-color: transparent; 
}

.logo img {
    max-width: 200px; 
    vertical-align: middle;
}

nav ul {
    display: flex;
    gap: 20px;
    
}

.li {
    font-size: 18px;
    font-family: 'Montserrat-Medium';
    color: #323F4A;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    border: 2px solid #FFD700;
    border-radius: 5px;
    color: #323F4A;
}

button#register {
    background-color: #FFD700; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
}
