/* body styles */

body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

.background {
    background-image: url(..//images/IMG_1542.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}


.background::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.2); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* header styles */

.flex-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1; 
    background-color: transparent; 
}

.logo img {
    max-width: 200px; 
    vertical-align: middle;
}

.nav-ul {
    display: flex;
    gap: 20px;
}

.li {
    font-size: 18px;
    font-family: 'Montserrat-Medium';
    color: #323F4A;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search {
    display: flex;
    align-items: center;
}


input[type="text"] {
    padding: 10px;
    border: 2px solid #FFD700;
    border-radius: 5px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.50);
}
::placeholder {
    color: #FFF;
}

#register {
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    height: 64px;
}

/* hamburger menu */
.burger-wraper {
    display: flex;
    flex-direction: row;   
}
.burger-menu {
    cursor: pointer;
    width: 30px;
    height: 20px;
    /* position: absolute; 
    left: 15px;
    top: 20px; */
    display: none;
}
.bar {
    width: 100%;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.burger-menu:hover .bar {
    background-color: #555;
}
.burger-menu.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.burger-menu.active .bar:nth-child(2) {
    opacity: 0;
}
.burger-menu.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* main styles */

.promo-text {
    position: absolute;
    top: 250px;
    left: 0;
    width: 100%;
    padding: 20px;
    
    background-color: transparent; 
}
.promo-h2 {
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    font-size: 40px;
    max-width: 700px;
    margin-left: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.promo-p {
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Montserrat-Medium';
    line-height: 40px;
    font-size: 14px;
    max-width: 500px;
    margin-left: 80px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* .promo-section {
    background: rgba(78, 98, 79, 0.4);
    max-width: 800px;
    padding: 20px;
} */
.button-yellow {
    background-color: #FFD700;
    border: none;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    color: #FFF;
    font-family: 'Montserrat-Bold';
    font-size: 12px;   
    text-transform: uppercase;
    margin-left: 80px;
    margin-top: 30px;
}